DB_PASSWORD="your_password"

ConnectionStrings_DefaultConnection="Host=postgres;Port=5433;Database=GARBase;Username=gar_user;Password=gar_password"

# /data из корня проекта в compose смонтирована как том поэтому архив можно положить в нее
# а здесь поменять название файла если потребуется
# Regions допускает null, в этом случае парсинг отработает по всем xml внутри архива
# SourceSettings
SourceSettings_ZipSourcePath="/data/gar_xml.zip"
SourceSettings_Regions=[50,77]

# Strategy - пока две FullRepl - все сущности ГАР и WithoutCHRepl - все без таблицы ChangeHistory
# BatchSize - размер пачки собираемой перед записью в базу данных одной транзакцией
# ReplicationSettings
ReplicationSettings_Strategy=FullRepl
ReplicationSettings_BatchSize=1000000